<mat-card class="card  row mat-elevation-z8">
    <div class="column1">
        <div >
            <mat-form-field  name="calculator" class="display" >
                <input matInput placeholder=""  value={{display}} type="text" > 
            </mat-form-field>
        </div>
        <button mat-raised-button value="√" class="functionButtons" (click)="addOperator('√')" >√</button>
        <button mat-raised-button value="^" class="functionButtons" (click)="addOperator('^')">^</button>
        <button mat-raised-button value="C" class="deleteButtons"(click)="deleteInput()">C</button>
        <button mat-raised-button value="←" class="deleteButtons" (click)="deleteInput()">←</button>
        <button mat-raised-button value="7" class="numberButtons" (click)="addInput(7)" >7</button>
        <button mat-raised-button value="8" class="numberButtons" (click)="addInput(8)">8</button>
        <button mat-raised-button value="9" class="numberButtons" (click)="addInput(9)">9</button>
        <button mat-raised-button value="/" class="functionButtons" (click)="addOperator('/')">/</button>
        <button mat-raised-button value="4" class="numberButtons" (click)="addInput(4)">4</button>
        <button mat-raised-button value="5" class="numberButtons" (click)="addInput(5)">5</button>
        <button mat-raised-button value="6" class="numberButtons" (click)="addInput(6)">6</button>
        <button mat-raised-button value="-" class="functionButtons" (click)="addOperator('-')">-</button>
        <button mat-raised-button value="1" class="numberButtons" (click)="addInput(1)">1</button>
        <button mat-raised-button value="2" class="numberButtons" (click)="addInput(2)">2</button>
        <button mat-raised-button value="3" class="numberButtons" (click)="addInput(3)">3</button>
        <button mat-raised-button value="+" class="functionButtons" (click)="addOperator('+')">+</button>
        <button mat-raised-button value="." class="functionButtons" (click)="addInput('.')">.</button>
        <button mat-raised-button value="0" class="numberButtons" (click)="addInput(0)">0</button>
        <button mat-raised-button value="*" class="functionButtons" (click)="addOperator('*')">*</button>
        <button mat-raised-button value="=" class="functionButtons" (click)="addNewOperation()">=</button>
    </div>

    <div class="column2">
        <mat-card class= " historyBox">

            <mat-card-title> Historial : </mat-card-title>
            <mat-card-content>
                <mat-list-item *ngFor="let operation of operations"> {{operation.number1}} {{operation.operator}}
                    {{operation.number2}} = {{operation.result}} </mat-list-item>
            </mat-card-content>
        </mat-card>

    </div>



</mat-card>